body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em; 
    background-color: rgb(197, 179, 146);
    text-decoration: none;
}



/*----------PILDID----------*/

.intro-image, .packaging-image, .tutorials-image{
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.intro-image{
    background-image: url("/img/pexels-jalil-shams-1006536.jpg");
    min-height: 400px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0% 30%);
}

.packaging-image{
    background-image: url("/img/pexels-julia-volk-6576269.jpg");
    min-height: 400px;
}

.tutorials-image{
    background-image: url("/img/pexels-si̇nan-önder-243125.jpg");
    min-height: 400px;
    clip-path: polygon(50% 0%, 100% 0, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 0 0);
}

/*----------TEKST----------*/

.intro-text{
    text-align: center;
    margin: 0 auto;
}

.packaging-text{
    text-align: center;
    margin-left: 47rem ;
    margin-right: 47rem;
    padding-bottom: 1rem;
}

.tutorials-text{
    text-align: center;
    margin: 2rem ;
}
/*----------NUPUD----------*/

.intro-image__text{
    left: 50%;
    top: 50%;
    position: relative;
    background-color: lightgray; 
    color: black; 
    border: 2px solid lightgray;
    display: inline-block;
    transform: translate(-50%, 230%);
    opacity: 70%;
    color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: wheat;
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
    
}


.intro-image__text:hover{
    background-color: rgb(58, 126, 189);
    color: white;
    background: lightgray;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}


.packaging-image__text{
    left: 50%;
    top: 50%;
    position: relative;
    background-color: lightgray; 
    color: black; 
    border: 2px solid lightgray;
    display: inline-block;
    transform: translate(-50%, 230%);
    opacity: 70%;
    color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: wheat;
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;

}


.packaging-image__text:hover{
    background-color: rgb(58, 126, 189);
    color: white;
    background: lightgray;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.tutorials-image__text{
    left: 50%;
    top: 50%;
    position: relative;
    background-color: lightgray; 
    color: black; 
    border: 2px solid lightgray;
    display: inline-block;
    transform: translate(-50%, 230%);
    opacity: 70%;
    color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: wheat;
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}

.tutorials-image__text:hover{
    background-color: rgb(58, 126, 189);
    color: white;
    background: lightgray;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.btn{
    text-decoration: none;
    color: black;
    
}

/*----------FOOTERID----------*/

li{
    list-style: none;
    text-align: center;
    display: inline-block;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px;
	border-radius: 10px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
    transform: translate(-11%, 50%);
    
}

a {
    text-decoration: none;
}

@media(max-width:568px){
    .intro-image, .packaging-image, .tutorials-image{
        background-attachment: scroll;
    }
}

.wrapper{
    display: inline-block;
    text-decoration: none;
}

.footer{

    text-align: center;
    text-decoration: none;
}

li:hover{

    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    text-decoration: none;
}